        {{> head }}


        {{> navbar }}
        <div class="row">

            <div class="col-8">
                <h1>Imagenes</h1>
                <p>Aprendiendo a Programar en NodeJS</p>
            </div>
            <div class="col-4">

                <img src="/assets/img/test.jpg" class="img-thumbnail">

            </div>

        </div>

        {{> footer}}
